body {
	background: #333;
	color: #fff;
}

dd {
	display: inline;
}

dd:after {
	content: '';
	display: block;
}

dt {
	display: inline-block;
	width: 5em;
}

a {
	color: lightblue;
}

.explanation {
	width: 20em;
	text-align: justify;
}